.timeline
  .controllers
    %select
      %option Slowest average response time
      %option Apdex most dissatisfying
      %option Most time consuming
      %option Highest throughput
      %option Standard deviation
    .list
      %ul
        %li.active= link_to "DashboardController#index", "#"
        - 10.times do
          %li= link_to "DashboardController#index", "#"
  .actions
    .gutter
      .inner 
        .cursor
    .list
      .cursor
      .item.active

      - 10.times do
        .item
.summary
  .subnav
    %ul.nav.nav-pills
      %li.active= link_to "Requests", "#"
      %li= link_to "Summary", "#"
  .tab-content
    .tab-pane.active
      %table.table
        %thead
          %tr
            %th Start
            %th Type
            %th Status
            %th Total Time
        %tbody
          - 30.times do
            %tr
              %td A
              %td B
              %td C
              %td D